
:root {
  --main-color: #005DD9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  width: 306px;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(0, 0, 0, 0.2)
}

.output {
  border: solid 2px var(--main-color);
  height: 60px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.output input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 50px;
  text-align: end;
  padding-right: 20px;
  color: var(--main-color);
}

.output input::placeholder {
  color: var(--main-color);
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px 15px;
}

.btns button {
  border: none;
  outline: none;
  height: 60px;
  border-radius: 50%;
  font-size: 25px;
  color: var(--main-color);
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2)
}

.btns button.sp {
  background-color: var(--main-color);
  color: #fff;
}

.btns button.equal {
  width: 135px;
  border-radius: 22px;
}